[MASTER]

disable=
    W0611  # Unused import
    W0703  # Catch too broad exception
    W0107  # Unnecessary pass statement
    C0114  # Missing module docstring
    C0115  # Missing class docstring
    C0116  # Missing function or method docstring
    C0301  # Line too long
    C0303  # Trailing whitespace
    C0325   
  # Unnecessary parens after 'if' keyword
    C0411  # Wrong import order
    R0903  # Too few public methods
    R1705  # Unnecessary "else" after "return"