[MASTER]

# Ignore these errors
disable = 
    *too-few-public-methods
    *unused-import
    *missing-final-newline
    *f-string-without-interpolation
    *ungrouped-imports

# Length of the line should be less than 100 characters 
# You can adjust this value as needed
max-line-length = 100

# Conventions
# These are some common conventions you can enable
# * E for errors
# * C for conventions
# * W for warnings
# * R for refactorings
# You can find the full list here - https://pylint.pycqa.org/en/stable/messages/messages.html
# For example, to enable checking for docstrings, uncomment the following line
# enable = 
#     * missing-module-docstring
#     * missing-function-docstring